{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
    <article class="row {{post_class}}">
        <div class="column">
            <h4 class="title">{{{title}}}</h4>
            <h6 class="date">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                {{tags prefix=" in "}}
            </h6>
            <p>{{excerpt words="26"}}</p>
            <p><a href="{{url}}" class="u-pull-right">Read more</a></p>
        </div>
    </article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
