<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{asset css/normalize.css}}">
    <link rel="stylesheet" href="{{asset css/skeleton.css}}">
    <link rel="stylesheet" href="{{asset css/screen.css}}}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{ghost_head}}
</head>
<body class="{{body_class}}">

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    {{{body}}}
    <footer class="row">
        <div class="column">
            <p><a href="#">Back to top</a></p>
            <p>Michael 'faide' Ko is a computer science college student interested in games development and web technologies.
                He is currently developing a game engine in Javascript while he completes his undergraduate degree.</p>
        </div>
    </footer>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>


