<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{asset "css/normalize.css"}}">
    <link rel="stylesheet" href="{{asset "css/skeleton.css"}}">
    <link rel="stylesheet" href="{{asset "css/screen.css"}}">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{ghost_head}}
</head>
<body class="{{body_class}}">

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    {{{body}}}
    <hr/>
    <footer>
        <div class="row">
            <div class="column">
                <p>
                    Michael 'faide' Ko is a software engineer at Varafy Corp.  He is interested in games development and
                    web technologies, and is currently developing a game engine in Javascript.
                </p>
            </div>
        </div>
        <nav class="row">
            <span class="two columns">&copy; faide 2014</span>
            <a    class="two columns" href="https://github.com/FaideWW">Github</a>
            <a    class="two columns" href="https://twitter.com/FaideWW">Twitter</a>
            <span class="two columns maillink">michael&commat;faide&period;net</span>
        </nav>
    </footer>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>
</html>


