{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

    <header class="row">
        <div class="column">
            <h1>{{@blog.title}}</h1>
            <h5>{{@blog.description}}</h5>
        </div>
    </header>
    <main class="body" id="content" role="main">
        <article class="row {{post_class}}">
            <div class="column">
                <h4 class="title">{{{title}}}</h4>
                <h6 class="date">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                    {{tags prefix=" in "}}
                </h6>
                <section>
                    {{content}}
                </section>
            </div>
        </article>
    </main>

{{/post}}


